.iconBtn {
  border: none;
  background-position: center;
  border-radius: 10px;
  margin-left: 6px;
  color: var(--color-white);
  background-repeat: no-repeat;
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: var(--color-accent);
}

.danger {
  background-color: var(--color-red);
}

.iconBtn img {
  width: 18px;
  height: 18px;
  display: block;
}
