.loginPage {
  min-height: 100vh;
  background: var(--color-white);
  overflow: hidden;
}

.leftSide {
  background: var(--color-white);
  overflow: hidden;
}

.rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white);
}
