.btn {
  border: none;
  background-position: center;
  border-radius: 10px;
  margin-left: 10px;
  color: var(--color-white);
}

.primary {
  background-color: var(--color-accent);
  padding: 18px 50px;
}
