.container {
  display: flex;
}

.form {
  border: none;
  padding: 17px;
  color: var(--color-black);
  font-size: 15px;
  display: flex;
}

.formAdd {
  background-color: var(--color-black-shadow);
  width: 100%;
  border-bottom: 2px solid var(--color-gray-tabs);
}

.btnAdd {
  background-color: var(--color-accent);
  padding: 18px 50px;
}

.textError {
  color: var(--color-red);
  font-size: 10px;
}
