.form {
  border: none;
  padding: 17px;
  /* max-width: 100%; */
  color: #000000;
  font-size: 15px;
  display: flex;
}

.formAdd {
  background-color: #edeaea0e;
  margin-left: 45px;
  width: 220px;
  border-bottom: 2px solid #808080;
}

.btnAdd {
  background-color: var(--color-accent);
  padding: 18px 50px;
}
